{% extends 'partials/base.html.twig' %}

{% if admin.route %}
	{% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
	<div class="button-bar">
		<a class="button" id="publish">
			<i class="fa fa-fw fa-upload"></i>Publish</a>
	</div>
	<h1>
		<i class="fa fa-fw fa-upload"></i>
		Publishing
	</h1>
{% endblock %}

{% block content %}
	<div class="pushy">
		<h1>List of changed items</h1>

		<table>
			<thead>
				<th class="select-all"><input id="select-all" type="checkbox"></th>
				<th class="path">Path</th>
			</thead>
			<tbody id="itemlist"></tbody>
		</table>
		<div class="message-summary">
			<label for="summary">Summary for publishing history <span class="required">*</span>:</label>
			<input id="summary" type="text">
			<div id="summary-alert" class="">Summary should be provided</div>
		</div>
		<div class="message-description">
			<label for="description">Optional description:</label>
			<textarea id="description" rows="3"></textarea>
		</div>
		</div>

	</div>
{% endblock %}
