{% extends 'partials/base.html.twig' %}

{% if admin.route %}
	{% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
	<div class="button-bar">
		<a class="button" id="commit-selected">
			<i class="fa fa-floppy-o"></i>Commit selected</a>
		<a class="button" id="revert-selected">
			<i class="fa fa-undo"></i>Revert selected</a>
	</div>
	<h1>
		<i class="fa fa-fw fa-upload"></i>
		Publish Pages
	</h1>
{% endblock %}

{% block content %}
	<div class="pushy">
		<h1>List of pages</h1>

		<table>
			<thead>
				<th class="select-all"><input id="select-all" type="checkbox"></th>
				<th class="path">Path</th>
				{# <th class="commit">Commit</th>
				<th class="revert">Undo</th> #}
				<th class="message">Message</th>
			</thead>
			<tbody id="pagelist"></tbody>
		</table>
		<div class="bulk">
			<div class="bulk-checkbox">
				<input id="bulk-select" type="checkbox">
				<label for="bulk">Use single commit</label>
			</div>
			<input id="bulk-message" type="text" class="message">
		</div>

	</div>
{% endblock %}
